@import url('https://fonts.googleapis.com/css?family=Lato');

@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    height:100%;
    font-family: 'Lato', sans-serif; 
}

body { 
    height:100%;
}

.box {
    @apply bg-white p-2 border border-gray-200 mb-2;
}

.max-h-40{
    max-height: 40vh;
}

.max-h-80{
    max-height: 80vh;
}

